@import url(https://fonts.googleapis.com/css?family=Noto+Sans);

*{
    box-sizing: border-box;
}

body{
  height: 100%; 
  font-family: 'Noto Sans', sans-serif;
  background-color: white; 
}


.contact_form{  
  width: 460px; 
  height: auto;
  margin: 80px auto;
  border-radius: 10px;  
  border: #0e0e0e 2px solid;
  padding-top: 30px;
  padding-bottom: 20px;  
  background-color: #fbfbfb; 
  padding-left: 30px; 
}


.formulario input{
  background-color: #fbfbfb; 
  width: 408px; 
  height: 40px; 
  border-radius: 5px;  
  border-style: solid; 
  border-width: 1px; 
  border-color: black;
  margin-top: 10px;  
  padding-left: 10px;
  margin-bottom: 20px; 
}


.formulario textarea{
  background-color: #fbfbfb; 
  width: 405px; 
  height: 150px; 
  border-radius: 5px;  
  border-style: solid; 
  border-width: 1px; 
  border-color: black;
  margin-top: 10px;  
  padding-left: 10px;
  margin-bottom: 20px; 
  padding-top: 15px; 
}


.formulario label{
  display: block; 
  float: center;  
}


.formulario button p{
  color: #fff; 
}


.formulario span{
  color:black; 
}


.aviso{
  font-size: 13px;  
  color: #0e0e0e;  
}


.formulario h1{
  font-size: 39px;  
  text-align: letf; 
  padding-bottom: 20px; 
  color: black
}


.formulario h3{
  font-size: 16px; 
  padding-bottom: 30px;
  color: #0e0e0e;   
}


.formulariop{
  font-size: 14px; 
  color: #0e0e0e; 
}


::-webkit-input-placeholder {
 color: #a8a8a8;
}


::-webkit-textarea-placeholder {
 color: #a8a8a8;
}


.formulario input:focus{
  outline:0;
  border: 1px solid blue;
}


.formulario textarea:focus{
  outline:0;
  border: 1px solid blue;
}
